/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       local("PT Sans regular"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       local("Cuprum regular")
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum bold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum italic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Variables */

:root {
    --basic-red: #EE3643;
    --basic-reddark: #CA2C37;
    --error: #BA2732;
    --special-lilac: #DC91D8;

    --basic-green: #63A63E;
    --basic-greendark: #518534;
    --success: #5FBB2D;
    --special-greenlight: #8ED78F;
    --shadow-green: #367315;

    --basic-blue: #32425C;
    --basic-bluedark: #293449;
    --basic-blueverydark: #1D2739;
    --special-blue: #3BBCE3;
    --technical-blue: #405069;
    --blue-activetopbar: #161D29;

    --special-ylellow: #FFBF47;
    --special-yellowlight: #FFD180;
    --warning: #FFBF47;

    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;

    --basic-background: #F1F5F7;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-brownlight: #F7F3EC;
    --sectionbar-background: #F9F5F0;
    --modal-background: #F4F4F4;
    --modal-cart-background: #F1F1F1;
    --promo-background: #BFB3A4;

    --border-pp: #EAEAEA;
    --border-button-filters: #E5E5E5;
    --old-price: #A9A9A9;

    --social-blue: #212A3A;

    --promo-anormal: rgba(255, 255, 255, 0.3);
    --promo-afocus: rgba(197, 197, 197, 0.3);
    --promo-aactive: rgba(169, 169, 169, 0.3);

    --product-shadow: rgba(0, 0, 0, 0.15);

    --nav-color: rgba(255, 255, 255, 0.5);

    --logo-shadow: rgba(0, 0, 0, 0.24);
}

/* Basic */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Main header */

.main-header {
  background-color: var(--basic-background);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  /* height: 320px; */
}

/* Main header top bar */

.top-bar {
  background-color: var(--basic-blueverydark);
  /* height: 42px; */
  color: var(--basic-white);
  font-size: 18px;
}

.top-bar a {
  color: inherit;
}

.top-bar__search-name {
  display: inline;
}

.top-bar__search-name::before {
  content: url(../img/icons/icon-search.svg);
  opacity: 0.3;
  margin-right: 8px;
}

.top-bar__search-field {
  background-color: var(--basic-bluedark);
  color: var(--basic-white);
}

.top-bar__cart-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-bar__logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
  background-image: url("../img/logo-header.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.top-bar__logo:active {
  background-color: var(--error);
}

.cart-list__item {
  display: inline;
  margin: 0;
}

.cart-list__item a {
  width: 150px;
  height: 42px;
  vertical-align: middle;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
}

.cart-list__bookmarks a::before {
  content: url(../img/icons/icon-bookmark.svg);
  opacity: 0.3;
  margin-right: 9px;
}

.cart-list__cart a::before {
  content: url(../img/icons/icon-cart.svg);
  opacity: 0.3;
  margin-right: 8px;
}

.cart-list__order a {
  background-color: var(--success);
}

.cart-list__item a:active {
  background-color: var(--blue-activetopbar);
}

.cart-list__order a:active {
  background-color: var(--basic-green);
}

.cart-list__item-with a {
  background-color: var(--basic-red);
}

.cart-list__item-with a:active {
  background-color: var(--error);
}

/* Main header middle part */

.main-header__description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header__contacts {
  width: 270px;
  text-align: center;
}

.main-header__phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 45px;
  font-weight: 700;
  border: solid 3px var(--basic-white);
  display: inline-block;
  vertical-align: middle;
  padding-right: 50px;
  padding-left: 30px;
  height: 45px;
}

.main-header__phone::before {
  content: url(../img/icons/icon-phone.svg);
  margin-right: 16px;
}

.main-login__login-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-list__item {
  display: inline;
  margin: 5px;
}

.login-list__item a {
  height: 45px;
  display: inline-block;
  font-size: 21px;
  line-height: 45px;
  vertical-align: 45px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-list__login a {
  width: 121px;
}

.login-list__registration a {
  width: 150px;
}

.login-list__login a::before {
  content: url(../img/icons/icon-login.svg);
  margin-right: 6px;
}

.login-list__item a:hover, .login-list__item a:focus {
  color: var(--basic-red);
}

.login-list__item a:active {
  color: var(--basic-greylight);
}

.main-login__logout-list {
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
}

.main-login__logout-list a {
  color: inherit;
}

.logout-list__img-user {
  margin-right: 20px;
}

.logout-list__img-logout {
  margin-left: 20px;
}

.main-login__orders-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.order-list__item {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-blue);
}

.order-list__item a {
  color: inherit;
}

.order-list__item a:hover, .order-list__item a:focus {
  color: var(--basic-red);
}

.order-list__item a:active {
  color: var(--basic-greylight);
}

.main-login__logout-list a:active {
  color: var(--basic-greylight);
}

.order-list__circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-blue);
}

/* Main header main navigation */

.main-navigation {
  background-color: var(--basic-blue);
  width: 940px;
  height: 60px;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  font-size: 18px;
}

.main-navigation__item {
  display: inline;
}

.main-navigation__list a {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

.main-navigation__item a:hover, .main-navigation__item a:focus {
  background-color: var(--basic-bluedark);
}

.main-navigation__item a:active {
  background-color: var(--basic-blueverydark);
  color: var(--nav-color);
}

/* Main Index */

/* Main promo block */

.promo-block__list {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.promo-block__item {
  width: 320px;
  height: 123px;
  position: relative;
  background-repeat: no-repeat;
}

.promo-block__item a {
  color: inherit;
  width: 135px;
  height: 38px;
  background-color: var(--promo-anormal);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 64px;
  left: 22px;
}

.promo-block__item a:hover, .promo-block__item a:focus {
  background-color: var(--promo-afocus);
}

.promo-block__item a:active {
  background-color: var(--promo-aactive);
}

.promo-block__item h3 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  left: 22px;
  top: 20px;
}

.promo-materials {
  background-color: var(--special-ylellow);
  background-image: url(../img/icons/icon-1.svg);
  background-position: top 31px right 43px;
}

.promo-instrument {
  background-color: var(--special-blue);
  background-image: url(../img/icons/icon-2.svg);
  background-position: top 31px right 43px;
}

.promo-technic {
  background-color: var(--special-lilac);
  background-image: url(../img/icons/icon-3.svg);
  background-position: top 31px right 43px;
}

.promo-sale {
  background-color: var(--special-greenlight);
  background-image: url(../img/icons/icon-4.svg);
  background-position: top 31px right 43px;
}

.promo-delivery {
  background-color: var(--special-ylellow);
  background-image: url(../img/icons/icon-5.svg);
  background-position: top 31px right 43px;
}

.promo-slider__section {
  width: 620px;
  height: 266px;
  position: relative;
  background-color: var(--promo-background);
  color: var(--basic-white);
}

.promo-slider__section .button {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.promo-slider__text {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  left: 24px;
  top: 64px;
}

.promo-slider__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 23px;
  left: 24px;
}

.promo-slider__arrow-previous {
  margin: 0;
  position: absolute;
  top: 123px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  background-color: transparent;
}

.promo-slider__arrow-next{
  margin: 0;
  position: absolute;
  top: 123px;
  right: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
  background-color: transparent;
}

.promo-drills {
  background-image: url("../img/drills.jpg");
}

.promo-hammer-drills {
  background-image: url("../img/hammer-drills.jpg");
}

/* Main popular products */

.section-bar {
  width: 940px;
  height: 89px;
  background-color: var(--sectionbar-background);
  position: relative;
}

.section-bar__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  position: absolute;
  top: 5px;
  left: 15px;
}

.section-bar .button {
  position: absolute;
  top: 25px;
  right: 15px;
}

.popular-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-products__item {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  display: inline;
}

.popular-products__item:last-child {
  margin-right: 0;
}

.product-cart {
  display: inline-block;
  width: 218px;
  height: 316px;
  border: solid var(--border-pp) 1px;
  position: relative;
  text-align: center;
}

.product-cart a {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 98px;
  left: 30px;
}

.catalog-item__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.catalog-item__image-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  text-align: center;
  line-height: 174px;
  top: 0;
  left: 0;
  width: 218px;
  height: 174px;
}

.catalog-item__image {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.product-cart .angle-button {
  position: absolute;
  left: 47px;
  bottom: 21px;
}

.product-cart .old-price {
  position: absolute;
  bottom: 72px;
  left: 76px;
}

.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 174px;
  background-color: var(--basic-white);
  opacity: 0;
  text-align: center;
}

.product-cart:hover .catalog-item-hover {
  opacity: 1;
}

.product-cart:hover {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.catalog-item-hover__buy {
  display: inline-block;
  position: absolute;
  top: 38px;
  left: 41px;
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);
  text-align: center;
  box-shadow: inset 0px -3px 0px var(--shadow-green);
}

.catalog-item-hover__buy::before {
  content: url(../img/icons/icon-cart.svg);
  opacity: 0.3;
  margin-right: 8px;
}

.catalog-item-hover__buy:hover, .catalog-item-hover__buy:focus {
  background-color: var(--success);
}

.catalog-item-hover__buy:active {
  background-color: var(--basic-greendark);
}

.catalog-item-hover__bookmarks {
  display: inline-block;
  position: absolute;
  top: 86px;
  left: 41px;
  width: 129px;
  height: 32px;
  background-color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-align: center;
}

.catalog-item-hover__bookmarks:hover, .catalog-item-hover__bookmarks:focus {
  border-color: var(--basic-blue);
}

.catalog-item-hover__bookmarks:active {
  opacity: 0.5;
}

/* Popular providers */

.popular-providers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-providers__item {
  margin: 0;
  padding: 0;
  /* width: 218px;
  height: 143px;
  border: solid var(--border-pp) 1px; */
  display: block;
  text-align: center;
  line-height: 143px;
}

.popular-providers__item a {
  display: inline-block;
  width: 218px;
  height: 143px;
  border: solid var(--border-pp) 1px;
}

.popular-providers__image {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.popular-providers__item a:hover, .popular-providers__item a:focus {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.popular-providers__item a:active {
  box-shadow: 0px 4px 20px var(--product-shadow);
  opacity: 0.5;
}

/* Services */

.services {
  /* height: 522px; */
  background-color: var(--basic-background);
}

.services__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-about__title {
  color: var(--basic-blue);
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

.services__item {
  margin: 0;
  padding: 0;
}

.services__list::after {
  content: url("../img/vertical-line-shadow.png");
  position: absolute;
  right: 0;
  top: -50px;
}

.service-about {
  width: 619px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: center right;
}

.service-delivery {
  background-image: url(../img/services/delivery.png);
}

.service-guarantee {
  background-image: url(../img/services/guarantee.png);
}

.service-credit {
  background-image: url(../img/services/credit.png);
}

/* About company */

.about-company__title, .main-contacts__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company__transporters-list {
  list-style: url(../img/horizontal-short-line.svg);
}

.about-company__transporters-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.mini-map {
  display: block;
}

/* Main Catalog */

/* Main Catalog breadcrumbs */

.catalog__breadcrumbs {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__breadcrumbs a {
  color: inherit;
}

.breadcrumbs__item {
  display: inline;
  margin-right: 18px;
}

.breadcrumbs__item a::after {
  content: url(../img/icons/icon-right-small.svg);
  margin-left: 17px;
}

/* Main Catalog main title */

.catalog__title-product-bar {
  width: 940px;
  height: 89px;
  line-height: 89px;
  background-color: var(--basic-background);
}

.catalog__title-product {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
  color: var(--basic-blue);
}

/* Main Catalog filters */

.filters__bar {
  width: 220px;
  height: 38px;
  background-color: var(--basic-brownlight);
  padding-left: 18px;
  padding-top: 10px;
}

.filters__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.filters__form {
  width: 220px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters__form fieldset {
  border: none;
}

.filters__form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters__form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-prices__list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.filter-prices__item {
  display: inline;
  margin: 0;
  padding: 0;
}

.filter-prices__input-price {
  border: none;
  background-color: var(--basic-brownlight);
  width: 95px;
  height: 38px;
}

/* Main Catalog products */

.catalog-products__sorting {
  width: 700px;
  /* height: 38px; */
  background-color: var(--basic-brownlight);
  padding-top: 10px;
  padding-left: 19px;
}

.products-sorting__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  display: inline;
}

.catalog-products__sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.catalog-products__sorting li {
  display: inline;
  margin: 0;
  padding: 0;
}

.catalog-products__sorting a {
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
  border-bottom: 1px var(--basic-red) dotted;
}

.products-sorting__method:hover, .products-sorting__method:focus {
  opacity: 1;
  border-bottom: 1px var(--basic-red) solid;
}

.products-sorting__method:active {
  opacity: 1;
  color: var(--basic-red);
  border: none;
}

a.products-sorting__current-sorting {
  color: var(--basic-red);
  opacity: 1;
  border: none;
}

a.products-sorting__direction-sorting-item {
  opacity: 1;
  border: none;
}

.catalog-products__products-list {
  list-style: none;
}

.catalog-products__pagintation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-products__pagintation li {
  margin: 0;
  padding: 0;
  display: inline;
}

.catalog-products__pagintation a {
  color: var(--basic-black);
  border: 1px solid var(--border-button-filters);
  display: inline-block;
  padding: 10px 15px;
}

.catalog-products__pagintation a:hover, .catalog-products__pagintation a:focus {
  border-color: var(--basic-greylight);
}

.catalog-products__pagintation a:active {
  border-color: var(--basic-red);
}

.button-pagination-next {
  text-align: center;
  width: 140px;
}

a.button-pagination-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.catalog__about-products {
  background-color: var(--basic-background);
  height: 261px;
}

.about-products__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Main footer */

.main-footer {
  background-color: var(--basic-blue);
  /* height: 300px; */
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.main-footer a {
  color: inherit;
}

.main-footer__navigation-list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.main-footer__navigation-item {
  display: inline-block;
}

.main-footer__navigation-item a:hover, .main-footer__navigation-item:focus {
  text-decoration: underline;
}

.main-footer__navigation-item a:active {
  text-decoration: none;
  color: var(--basic-background);
  opacity: 0.5;
}

.main-footer__navigation-product-list {
  list-style: none;
  display: inline;
  color: var(--special-yellowlight);
  margin: 0;
  padding: 0;
}

.main-footer__navigation-product-item {
  display: inline-block;
}

.main-footer__navigation-product-item a:hover, .main-footer__navigation-product-item:focus {
  text-decoration: underline;
}

.main-footer__navigation-product-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Main footer bottom part */

.main-footer__bottom-part {
  background-color: var(--basic-bluedark);
  /* height: 107px; */
  font-size: 16px;
  line-height: 18px;
}

.main-footer__social-list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.main-footer__feedback a, .main-footer__development a {
  color: var(--special-yellowlight);
}

.main-footer__feedback a:hover, .main-footer__feedback a:focus, .main-footer__development a:hover, .main-footer__development a:focus {
  text-decoration: underline;
}

.main-footer__feedback a:active, .main-footer__development a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Modal */

.modal {
  border-top: solid var(--basic-red) 7px;
}

.modal-feedback {
  width: 620px;
  height: 430px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: var(--basic-white);
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
}

.modal-feedback__bottom-bar {
  height: 112px;
  background-color: var(--modal-background);
}

.feedback__input-contacts {
  width: 220px;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--old-price);
}

.feedback__input-message {
  width: 460px;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--old-price);
}

.modal-add-to-cart {
  width: 620px;
  /* height: 282px; */
}

.modal-add-to-cart__bottom-bar {
  background-color: var(--modal-cart-background);
  /* height: 112px; */
}

.add-to-cart__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.add-to-cart__title::before {
  content: url(../img/icons/icon-mark.svg);
  margin-right: 25px;
}

.modal-add-to-cart__bottom-bar .button {
  border: none;
}

.button-add-to-cart {
  width: 192px;
  height: 38px;
  border: none;
  background-color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

/* Decoration */

.item-new::after {
  content: url(../img/new.svg);
  position: absolute;
  right: 0;
  top: 0;
}

.old-price {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--old-price);
}

/* Buttons */

.button {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  display: inline-block;
  margin: 0;
}

.button a {
  color: inherit;
}

.button:hover, .button:focus {
  background-color: var(--basic-reddark);
}

.button:active {
  background-color: var(--error);
}

.angle-button {
  margin: 0;
  background-image: url("../img/red__button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
}

.services__button {
  margin: 0;
  display: inline-block;
  background-color: var(--basic-blue);
  text-align: center;
  vertical-align: middle;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 61px;
  font-weight: 700;
  box-shadow: 0px 1px 0px var(--basic-bluedark), inset 0px 1px 0px var(--technical-blue);
}

.services__button:hover, .services__button:focus {
  background-color: var(--basic-bluedark);
}

.services__button:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services__button-current {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.button-about {
  width: 220px;
}

.button-contacts {
  width: 320px;
}

.social-button {
  display: inline-block;
  background-color: var(--social-blue);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-button:hover, .social-button:active, .social-button:focus {
  background-color: var(--basic-red);
}

.button-vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.button-fb {
  background-image: url(../img/icons/icon-fb.svg);
}

.button-insta {
  background-image: url(../img/icons/icon-insta.svg);
}

.button-feedback {
  width: 460px;
  border: none;
}

.button-filters {
  width: 220px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-button-filters);
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}
