/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       local("PT Sans regular"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       local("Cuprum regular"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum bold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum italic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Variables */

:root {
    --basic-red: #EE3643;
    --basic-reddark: #CA2C37;
    --error: #BA2732;
    --special-lilac: #DC91D8;

    --basic-green: #63A63E;
    --basic-greendark: #518534;
    --success: #5FBB2D;
    --special-greenlight: #8ED78F;
    --shadow-green: #367315;

    --basic-blue: #32425C;
    --basic-bluedark: #293449;
    --basic-blueverydark: #1D2739;
    --special-blue: #3BBCE3;
    --technical-blue: #405069;
    --blue-activetopbar: #161D29;

    --special-ylellow: #FFBF47;
    --special-yellowlight: #FFD180;
    --warning: #FFBF47;

    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;

    --basic-background: #F1F5F7;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-brownlight: #F7F3EC;
    --sectionbar-background: #F9F5F0;
    --modal-background: #F4F4F4;
    --modal-cart-background: #F1F1F1;
    --promo-background: #BFB3A4;

    --border-pp: #EAEAEA;
    --border-button-filters: #E5E5E5;
    --old-price: #A9A9A9;

    --social-blue: #212A3A;

    --promo-anormal: rgba(255, 255, 255, 0.3);
    --promo-afocus: rgba(197, 197, 197, 0.3);
    --promo-aactive: rgba(169, 169, 169, 0.3);

    --product-shadow: rgba(0, 0, 0, 0.15);

    --nav-color: rgba(255, 255, 255, 0.5);

    --logo-shadow: rgba(0, 0, 0, 0.24);
}

/* Basic */

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body * {
  margin: 0;
  padding: 0;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-background);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  margin-bottom: 59px;
  padding-bottom: 60px;
  display: grid;
  grid-template-rows: auto auto auto;
}

/* Main header top bar */

.main-header__top-bar {
  background-color: var(--basic-blueverydark);
  box-sizing: border-box;
  height: 42px;
  color: var(--basic-white);
  font-size: 18px;
  grid-row: 1/2;
  grid-column: 1/-1;
  width: 100%;
  margin-bottom: 46px;
}

.top-bar__wrapper {
  display: flex;
}

.main-header__top-bar a {
  color: inherit;
}

.top-bar__search {
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-left: 17px;
  display: flex;
  color: var(--basic-white);
}

.top-bar__search::before {
  content: url(../img/icons/icon-search.svg);
  opacity: 0.3;
  align-self: center;
  margin-right: 8px;
}

.top-bar__search-field {
  background-color: transparent;
  color: var(--basic-white);
  border: none;
  height: 42px;
  width: 220px;
  box-sizing: border-box;
}

.top-bar__search-field::placeholder {
  color: var(--basic-white);
}

.top-bar__search:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.top-bar__search:hover .top-bar__search-field::placeholder {
  color: black;
}

.top-bar__logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
  background-image: url("../img/logo-header.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.top-bar__logo:active {
  background-color: var(--error);
}

/* Cart list */

.top-bar__cart-list {
  list-style: none;
  font-size: 0;
  box-sizing: border-box;
  width: 450px;
}

.cart-list__item {
  display: inline;
}

.cart-list__item a {
  width: 150px;
  height: 42px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 9px;
}

.cart-list__bookmarks a::before {
  content: url(../img/icons/icon-bookmark.svg);
  opacity: 0.3;
  margin-right: 9px;
}

.cart-list__cart a::before {
  content: url(../img/icons/icon-cart.svg);
  opacity: 0.3;
  margin-right: 8px;
}

.cart-list__order a {
  background-color: var(--success);
}

.cart-list__item a:active {
  background-color: var(--blue-activetopbar);
}

.cart-list__order a:active {
  background-color: var(--basic-green);
}

.cart-list__item-with a {
  background-color: var(--basic-red);
}

.cart-list__item-with a:active {
  background-color: var(--error);
}

/* Main header middle part */

.main-header__middle-part {
  display: grid;
  grid-template-columns: 320px 270px 1fr;
  grid-row: 2/3;
  grid-column:1/-1;
  margin-bottom: 40px;
}

.main-header__description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  grid-column: 1/2;
  padding-left: 30px;
}

.main-header__contacts {
  width: 270px;
  text-align: center;
  grid-column: 2/3;
  letter-spacing: -0.05em;
}

.main-header__phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: solid 3px var(--basic-white);
  display: inline-block;
  padding-right: 50px;
  padding-left: 30px;
  height: 39px;
}

.main-header__phone::before {
  content: url(../img/icons/icon-phone.svg);
  margin-right: 16px;
}

/* Main header main login */

.main-header__main-login {
  grid-column: 3/4;
  justify-self: end;
}

.main-login__login-list {
  list-style: none;
  font-size: 0;
}

.login-list__item {
  display: inline;
  font-size: 0;
}

.login-list__item:not(:last-child) {
  margin-right: 10px;
}

.login-list__item a {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  letter-spacing: -0.022em;
}

.login-list__login a {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.login-list__registration a {
  text-align: center;
  padding: 12px 24px;
}

.login-list__login a::before {
  content: url(../img/icons/icon-login.svg);
  position: absolute;
  left: 20px;
  top: 14px;
}

.login-list__item a:hover, .login-list__item a:focus {
  color: var(--basic-red);
}

.login-list__item a:active {
  color: var(--basic-greylight);
}

.main-login__logout-list {
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
  text-align: center;
  line-height: 21px;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  display: flex;
  justify-content: center;
}

.main-login__logout-list a {
  color: inherit;
  height: 45px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main-login__logout-list a:first-child {
  padding-left: 15px;
}

.logout-list__img-user {
  margin-right: 20px;
}

.logout-list__img-logout {
  margin-left: 20px;
}

.main-login__orders-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 299px;
  box-sizing: border-box;
  padding: 0 44px;
}

.order-list__item {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-blue);
}

.order-list__item a {
  color: inherit;
}

.order-list__item a:hover, .order-list__item a:focus {
  color: var(--basic-red);
}

.order-list__item a:active {
  color: var(--basic-greylight);
}

.main-login__logout-list a:active {
  color: var(--basic-greylight);
}

.order-list__circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-blue);
}

/* Main header main navigation */

.main-header__main-navigation {
  background-color: var(--basic-blue);
  box-sizing: border-box;
  width: 940px;
  grid-row: 3/4;
  grid-column: 1/-1;
  box-shadow: inset 0px -5px 0px var(--basic-bluedark);
}

.main-navigation__list {
  list-style: none;
  color: var(--basic-white);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.main-navigation__list a {
  color: inherit;
  line-height: 24px;
  height: 60px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navigation__item a:hover, .main-navigation__item a:focus {
  background-color: var(--basic-bluedark);
}

.main-navigation__item a:active {
  background-color: var(--basic-blueverydark);
  color: var(--nav-color);
}

/* Main Index */

/* Main promo block */

.main-index__promo-block {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin-bottom: 59px;
}

.promo-block__item {
  width: 300px;
  height: 123px;
  position: relative;
  background-repeat: no-repeat;
}

.promo-block__item a {
  color: inherit;
  width: 135px;
  height: 38px;
  background-color: var(--promo-anormal);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 64px;
  left: 22px;
}

.promo-block__item a:hover, .promo-block__item a:focus {
  background-color: var(--promo-afocus);
}

.promo-block__item a:active {
  background-color: var(--promo-aactive);
}

.promo-block__item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  left: 22px;
  top: 20px;
}

.promo-block__promo-materials {
  background-color: var(--special-ylellow);
  background-image: url(../img/icons/icon-1.svg);
  background-position: top 31px right 43px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.promo-block__promo-instrument {
  background-color: var(--special-blue);
  background-image: url(../img/icons/icon-2.svg);
  background-position: top 31px right 43px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.promo-block__promo-technic {
  background-color: var(--special-lilac);
  background-image: url(../img/icons/icon-3.svg);
  background-position: top 31px right 43px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.promo-block__promo-sale {
  background-color: var(--special-greenlight);
  background-image: url(../img/icons/icon-4.svg);
  background-position: top 31px right 43px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.promo-block__promo-delivery {
  background-color: var(--special-ylellow);
  background-image: url(../img/icons/icon-5.svg);
  background-position: top 31px right 43px;
  grid-column: 3/4;
  grid-row: 3/4;
}

.promo-block__promo-slider {}

.promo-slider__section {
  width: 620px;
  height: 266px;
  position: relative;
  background-color: var(--promo-background);
  color: var(--basic-white);
}

.promo-slider__section .button {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.promo-slider__text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  left: 24px;
  top: 64px;
}

.promo-slider__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 23px;
  left: 24px;
}

.promo-slider__arrow-previous {
  position: absolute;
  top: 123px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  background-color: transparent;
}

.promo-slider__arrow-next{
  position: absolute;
  top: 123px;
  right: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
  background-color: transparent;
}

.promo-slider__drills {
  background-image: url("../img/drills.jpg");
  display: none;
}

.promo-slider__hammer-drills {
  background-image: url("../img/hammer-drills.jpg");
  grid-column: 1/3;
  grid-row: 2/4;
}

/* Main popular products */

.main-index__section-bar {
  box-sizing: border-box;
  width: 940px;
  height: 89px;
  background-color: var(--sectionbar-background);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
}

.section-bar__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.main-index__popular-products_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: 52px;
  align-items: stretch;
}

.main-index__popular-products_item {
  margin-bottom: 18px;
  margin-right: 20px;
  display: flex;
  align-items: stretch;
}

/* Product-cart */

.product-cart {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  border: solid var(--border-pp) 1px;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 20px;
}

.product-cart__title {
  order: 2;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6px;
}

.product-cart__title-writing {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.product-cart__image_wrapper {
  box-sizing: border-box;
  width: 220px;
  height: 168px;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.product-cart__price {
  order: 3;
  display: grid;
  grid-template-rows: 10px min-content;
  gap: 20px;
}

.product-cart__price .old-price {
  grid-row: 1/2;
  justify-self: center;
}

.product-cart__price .angle-button {
  grid-row: 2/3;
}

.product-cart-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: var(--basic-white);
  opacity: 0;
  text-align: center;
}

.product-cart:hover .product-cart-hover {
  opacity: 1;
}

.product-cart:hover {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.product-cart-hover__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38px;
  left: 41px;
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--shadow-green);
}

.product-cart-hover__buy::before {
  content: url(../img/icons/icon-cart.svg);
  opacity: 0.3;
  margin-right: 8px;
}

.product-cart-hover__buy:hover, .product-cart-hover__buy:focus {
  background-color: var(--success);
}

.product-cart-hover__buy:active {
  background-color: var(--basic-greendark);
}

.product-cart-hover__bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 86px;
  left: 41px;
  width: 129px;
  height: 32px;
  background-color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.product-cart-hover__bookmarks:hover, .product-cart-hover__bookmarks:focus {
  border-color: var(--basic-blue);
}

.product-cart-hover__bookmarks:active {
  opacity: 0.5;
}

/* Popular providers */

.popular-providers__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  gap: 20px;
  margin-bottom: 83px;
}

.popular-providers__item {
  display: block;
  text-align: center;
  line-height: 143px;
}

.popular-providers__item a {
  display: inline-block;
  width: 218px;
  height: 143px;
  border: solid var(--border-pp) 1px;
}

.popular-providers__image {
  vertical-align: middle;
}

.popular-providers__item a:hover, .popular-providers__item a:focus {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.popular-providers__item a:active {
  box-shadow: 0px 4px 20px var(--product-shadow);
  opacity: 0.5;
}

/* Services */

.main-index__services {
  background-color: var(--basic-background);
  margin-bottom: 57px;
  padding-top: 51px;
  padding-bottom: 112px;
}

.main-index__services_wrapper {
  display: grid;
  grid-template-columns: 240px 619px;
  grid-template-rows: auto 283px;
  column-gap: 80px;
  row-gap: 70px;
}

.services__about {
  grid-column: 1/3;
  grid-row: 1/2;
}

.services__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.service-about__title {
  color: var(--basic-blue);
}

.services__list {
  list-style: none;
  position: relative;
  display: inline-block;
  grid-column: 1/2;
  grid-row: 2/3;
}

.services__list::after {
  content: url("../img/vertical-line-shadow.png");
  position: absolute;
  right: 0;
  top: -50px;
}

.service-about {
  width: 619px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: center right;
  grid-column: 2/3;
  grid-row: 2/3;
}

.service-delivery {
  background-image: url(../img/services/delivery.png);
}

.service-guarantee {
  background-image: url(../img/services/guarantee.png);
}

.service-credit {
  background-image: url(../img/services/credit.png);
}

.serives__no-display {
  display: none;
}

/* About company */

.about-company__wrapper {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
  margin-bottom: 70px;
}

.about-company__title, .main-contacts__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about-company__paragraph {
  margin-bottom: 32px;
}

.about-company__delivery {
  margin-bottom: 3px;
}

.about-company__transporters-list {
  list-style: url(../img/horizontal-short-line.svg);
  margin-bottom: 20px;
  margin-left: 35px;
}

.about-company__transporters-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

.about-company__transporters-item:last-child {
  margin-bottom: 0;
}

.about-company__mini-map {
  display: block;
  margin-bottom: 25px;
}

/* Main Catalog */

.main-inner__wrapper {
  position: relative;
}

/* Main Catalog breadcrumbs */

.catalog__breadcrumbs {
  list-style: none;
  display: inline;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  top: -35px;
}

.catalog__breadcrumbs a {
  color: inherit;
}

.breadcrumbs__item {
  display: inline;
  margin-right: 18px;
}

.breadcrumbs__item a::after {
  content: url(../img/icons/icon-right-small.svg);
  margin-left: 17px;
}

/* Main Catalog main title */

.catalog__title-product-bar {
  box-sizing: border-box;
  width: 940px;
  height: 89px;
  background-color: var(--basic-background);
  padding-left: 29px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.catalog__title-product {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
  text-transform: uppercase;
}

/* Main Catalog main part */

.catalog__wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

/* Main Catalog filters */

.filters__title-bar {
  box-sizing: border-box;
  width: 220px;
  background-color: var(--basic-brownlight);
  padding: 10px 18px;
  margin-bottom: 14px;
}

.filters__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.filters__form {
  width: 220px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters__form fieldset {
  border: none;
}

.filters__form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters__form ul {
  list-style: none;
}

.filters__prices-list {
  list-style: none;
  display: inline;
}

.filters__prices-item {
  display: inline;
  margin-right: 4px;
  font-size: 17px;
}

.filters__prices-item:last-child {
  margin-right: 0;
}

.filters__prices-input {
  border: none;
  background-color: var(--basic-brownlight);
  width: 95px;
  height: 38px;
}

.filters__set {
  position: relative;
}

.filters__set-providers {
  margin-bottom: 46px;
}

.filters__set-providers legend {
  margin-bottom: 17px;
}

.filters__set-power {
  margin-bottom: 37px;
}

.filters__set-power legend {
  margin-bottom: 23px;
}

.filters__prices {
  margin-bottom: 42px;
}

.filters__set-power::before {
  content: url(../img/filters-horizontal-line.svg);
  position: absolute;
  top: -78px;
  left: 5px;
}

.filters__set-providers::before {
  content: url(../img/filters-horizontal-line.svg);
  position: absolute;
  top: -73px;
  left: 5px;
}

.filters__set-providers li {
  margin-bottom: 20px;
}

.filters__set-providers li:last-child {
  margin-bottom: 0;
}

.filters__set-power li:first-child {
  margin-bottom: 22px;
}

/* Main Catalog products */

/* Sorting */

.catalog__products-sorting {
  box-sizing: border-box;
  width: 700px;
  height: 38px;
  background-color: var(--basic-brownlight);
  padding-left: 18px;
  padding-right: 14px;
  line-height: 18px;
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: min-content 1fr 44px;
  gap: 44px;
  align-items: center;
}

.products-sorting__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  grid-column: 1/2;
}

.products-sorting__type-sorting-list {
  grid-column: 2/3;
  justify-self: end;
}

.products-sorting__type-sorting-list li:not(:last-child) {
  margin-right: 65px;
}

.products-sorting__direction-sorting-list {
  grid-column: 3/4;
}

.products-sorting__direction-sorting-list li:first-child {
  margin-right: 14px;
}

.catalog__products-sorting ul {
  list-style: none;
  display: inline;
}

.catalog__products-sorting li {
  display: inline;
}

.catalog__products-sorting a {
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
  border-bottom: 1px var(--basic-red) dotted;
}

.products-sorting__method:hover, .products-sorting__method:focus {
  opacity: 1;
  border-bottom: 1px var(--basic-red) solid;
}

.products-sorting__method:active {
  opacity: 1;
  color: var(--basic-red);
  border: none;
}

a.products-sorting__current-sorting {
  color: var(--basic-red);
  opacity: 1;
  border: none;
}

a.products-sorting__direction-sorting-item {
  opacity: 1;
  border: none;
}

/* Catalog */

.catalog__products-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  margin-right: -20px;
  align-items: stretch;
}

.catalog__products-item {
  margin-bottom: 18px;
  margin-right: 20px;
  display: flex;
  align-items: stretch;
}

.catalog__pagination {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 59px;
}

.catalog__pagination li {
  display: inline;
}

.catalog__pagination a {
  color: var(--basic-black);
  border: 1px solid var(--border-button-filters);
  display: inline-block;
  padding: 10px 15px;
}

.catalog__pagination a:hover, .catalog__pagination a:focus {
  border-color: var(--basic-greylight);
}

.catalog__pagination a:active {
  border-color: var(--basic-red);
}

.pagination__button-next {
  text-align: center;
  width: 140px;
}

a.pagination__button-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.catalog__about-products {
  padding: 64px 0;
  padding-right: 30px;
}

.catalog__about-products_wrapper {
  background-color: var(--basic-background);
}

.catalog__about-products-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* Main footer */

.main-footer {
  background-color: var(--basic-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.main-footer__top-part {
  padding-bottom: 54px;
}

.main-footer_top-bar-wrapper {
  display: grid;
  grid-template-columns: 333px 546px;
  column-gap: 58px;
  grid-template-rows: auto 49px;
  row-gap: 22px;
}

.main-footer__logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main-footer__contacts {
  grid-column: 1/2;
  grid-row: 2/3;
  letter-spacing: -0.025em;
}

.main-footer__navigation-list {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  width: 546px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.main-footer__navigation-product-list {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 546px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 22px;
  list-style: none;
  color: var(--special-yellowlight);
}

.main-footer a {
  color: inherit;
}

.main-footer__navigation-item {
  display: inline-block;
}

.main-footer__navigation-item a:hover, .main-footer__navigation-item:focus {
  text-decoration: underline;
}

.main-footer__navigation-item a:active {
  text-decoration: none;
  color: var(--basic-background);
  opacity: 0.5;
}

.main-footer__navigation-product-item {
  display: inline-block;
}

.main-footer__navigation-product-item a:hover, .main-footer__navigation-product-item:focus {
  text-decoration: underline;
}

.main-footer__navigation-product-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Main footer bottom part */

.main-footer__bottom-part {
  background-color: var(--basic-bluedark);
  height: 107px;
  font-size: 16px;
  line-height: 18px;
}

.main-footer__bottom-bar-wrapper {
  padding: 35px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
}

.main-footer__copyright {
  grid-column: 1/2;
}

.main-footer__social-section {
  grid-column: 2/3;
}

.main-footer__feedback {
  grid-column: 3/4;
}

.main-footer__development {
  grid-column: 4/5;
}

.main-footer__social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-footer__social-list li:not(:last-child) {
  margin-right: 1px;
}

.main-footer__feedback a, .main-footer__development a {
  color: var(--special-yellowlight);
}

.main-footer__feedback a:hover, .main-footer__feedback a:focus, .main-footer__development a:hover, .main-footer__development a:focus {
  text-decoration: underline;
}

.main-footer__feedback a:active, .main-footer__development a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Modal */

.modal {
  border-top: solid var(--basic-red) 7px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 20px 40px rgba(41, 52, 73, 0.75);

/*  */
  margin: 200px;
/*  */
}

.modal-feedback {
  width: 620px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback__wrapper {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 44px 80px 37px;
}

.modal-feedback .modal-close {
  position: absolute;
  right: 11px;
  top: 21px;
}

.modal-map {
  width: 943px;
  height: 449px;
  padding: 0;
}

.modal-map a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
}

.modal-map .modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
}

.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
}

.modal-feedback__bottom-bar {
  height: 112px;
  width: 100%;
  background-color: var(--modal-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-feedback__input-contacts {
  width: 220px;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--old-price);
}

.modal-feedback__input-message {
  width: 460px;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--old-price);
}

.modal-feedback__input-message_box {
  grid-column: 1/-1;
}

.modal-add-to-cart {
  width: 620px;
  text-align: center;
  padding-top: 70px;
}

.modal-add-to-cart__bottom-bar {
  background-color: var(--modal-cart-background);
  box-sizing: border-box;
  width: 100%;
  height: 112px;
  display: grid;
  grid-template-columns: 192px 192px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.modal-add-to-cart .modal-close {
  position: absolute;
  right: 11px;
  top: 18px;
}

.add-to-cart__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 64px;
}

.add-to-cart__title::before {
  content: url(../img/icons/icon-mark.svg);
  position: absolute;
  left: 81px;
  top: 55px;
}

.modal-add-to-cart__bottom-bar .button {
  border: none;
}

.modal-add-to-cart .button {
  width: 192px;
}

.button-add-to-cart {
  width: 192px;
  height: 38px;
  border: none;
  background-color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

/* Decoration */

.item-new::after {
  content: url(../img/new.svg);
  position: absolute;
  right: 0;
  top: 0;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--old-price);
}

/* Buttons */

.button {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  color: inherit;
}

.button:hover, .button:focus {
  background-color: var(--basic-reddark);
}

.button:active {
  background-color: var(--error);
}

.angle-button {
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
  box-sizing: border-box;
  font-size: 17px;
}

.services__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--basic-blue);
  text-align: center;
  box-sizing: border-box;
  padding-left: 22px;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 0px 1px 0px var(--basic-bluedark), inset 0px 1px 0px var(--technical-blue);
}

.services__button:hover, .services__button:focus {
  background-color: var(--basic-bluedark);
}

.services__button:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services__button-current {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.button-about {
  width: 220px;
}

.button-contacts {
  width: 300px;
}

.social-button {
  display: inline-block;
  background-color: var(--social-blue);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-button:hover, .social-button:active, .social-button:focus {
  background-color: var(--basic-red);
}

.button-vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.button-fb {
  background-image: url(../img/icons/icon-fb.svg);
}

.button-insta {
  background-image: url(../img/icons/icon-insta.svg);
}

.button-feedback {
  width: 460px;
  border: none;
}

.button-filters {
  width: 220px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-button-filters);
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}
